# Copyright (c) 2020 Pete Johanson
# SPDX-License-Identifier: MIT

config SHIELD_CORNE_NICE_VIEW_LEFT
    def_bool $(shields_list_contains,corne_nice_view_left)

config SHIELD_CORNE_NICE_VIEW_RIGHT
    def_bool $(shields_list_contains,corne_nice_view_right)
